<footer>
    <div class="redes">
        <a href="https://www.instagram.com/enlodecuqui/" alt="logo instagram" target="_blank"><img src="img/ig.png"></a>
        <a href="https://api.whatsapp.com/send/?phone=542612592749&text&type=phone_number&app_absent=0" alt="logo whatsapp" target="_blanck"><img src="img/wa.png"></a>
    </div>
    <h2>En lo de Cuqui ©️2023</h2>
</footer>